// Variable overrides
$primaryCompanyColour: linear-gradient(180deg, #02C5FF 0%, #247EFF 100%);
$secondaryCompanyColour: rgb(8, 39, 59);
$tertiaryCompanyColour: rgb(255,255,255);
$hoverColour: rgb(128,128,128);
$success: rgb(75,181,67);
$backgroundCompanyColor: linear-gradient(180deg, #065776 0%, #4D3264 100%);
